
/* Basic Styles */
body {
    font-family: Arial, sans-serif;
background-color: #faafe3;
text-color: #f0f0ff;
}

header {
    text-align: center;
    margin-top: 20px;
}

#radioList {
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#radioListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.radio-item {
    margin: 10px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.radio-item:hover {
    transform: scale(1.05);
}

#player {
    display: none;
    padding: 20px;
    text-align: center;
}

#controls {
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

input[type="range"] {
    margin-top: 10px;
}

/* Transition Animation for Radio Items */
.radio-item {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
